/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/scss/bootstrap.scss';
   
.container-wrapper {
    @include media-breakpoint-up(sm) { 
    max-width: 100%;
    }
    @include media-breakpoint-up(md) { 
    max-width: 70%;
    }
    @include media-breakpoint-up(lg) { 
    max-width: 40%;
    }
    @include media-breakpoint-up(xl) { 
    max-width: 35%;
    }
}
  